.loader {
  height: 50vh;
  width: 30%;
  opacity: 1;
  animation: loading 4s ease infinite;
  display: block;
  margin: 20vh auto;
  text-align: center;
}

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
