.pokeInfo {
  height: 80vh;
  width: 22%;
  background-color: white;
  margin: 8rem 0 4rem 0;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  /* position: sticky;
    top: 10vh;
    box-sizing: border-box; */
  position: fixed;
  right: 10%;
  z-index: 10;
}