@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.tile{
    padding: 0;
    margin: 0;
    min-height: 20vh;
    height: 21vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13);
    font-family: 'Outfit';
    cursor: pointer;
    transition: all 200ms;
}

.image{
    text-align: center;
    position: relative;
    top: -50px;
    image-rendering: pixelated;
    width: 40%;
    margin: auto;
    transition: all 200ms;
}

.gridBox{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    top: -70px;
    text-align: center;
    grid-gap: 1rem;
    padding: 0.5rem;
}

.id{
    grid-column: 1/5;
    color: grey;
    font-weight: bold;
    font-size: 0.9rem;
}

.name{
    grid-column: 1/5;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.tile:hover{
    border: 2px solid #e0e0e0;
}

.tile:hover .image{
    transform: scale(1.15);
}